.hero {
    background: var(--background-color);
    padding: 118px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-1px.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 0 auto;
    @include retina {
        background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
          ),
          url(../img/hero-img-2px.jpg);
    }
    @include mobile {
        max-width: 480px;
        }

      @include tablet {
        max-width: 768px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-img-tablet-1px.jpg);
          @include retina {
            background-image: linear-gradient(
                rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)
              ),
              url(../img/hero-img-tablet-2px.jpg);
      }
    }
    
      @include desktop {
        max-width: 1600px;
        padding: 200px 0px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.png);
        margin: 0 auto;
        @include retina {
            background-image: linear-gradient(
                rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)
              ),
              url(../img/hero-img-desc-2px.jpg);
      }
    }
}

.hero__text {
    @include font(900, 18, 2, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    @include mobile {
        width: 360px;
        @include font(900, 26, 1.61, 0.06em);
    }
    @include desktop {
        @include font(900, 44, 1.36, 0.06em);
        width: 696px;
    }
}

.hero__button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}