.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    height: 581px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    .backdrop.is-hidden & {
        transform: translate(-50%,-50%) scale(0);
    }
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 9px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        fill: var(--blue-color);
    }
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
}

.modal-lable {
    display: block;
    margin-bottom: 10px;
}

.modal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    display: block;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 12px;
    bottom: 50%;
    transform: translateY(50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus + & {
        fill: var(--blue-color);
    }
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--blue-color);
    }
    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-input.comment {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    display: block; 
}

.modal-lable-text {
    display: block;
    margin-bottom: 20px;
}

.checkbox-container {
    margin-bottom: 30px;
}

.modal-confirm {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.modal-check-wrap {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    margin-right: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.modal-check-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-wrap {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-confirm:checked + .modal-confirm span {
    background-color: var(--blue-color);
    border: none;
}

.modal-input-confirm:checked + .modal-confirm .modal-check-icon {
    fill: var(--white-color);
}

.modal-link {
    color: var(--blue-color);
}

.modal-submit-button {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}